<footer class="mdl-mini-footer">
    <div class="mdl-mini-footer__left-section">
        <div class="mdl-logo footer-logo">Rajsimman Ravichandiran</div>
    </div>
    <div class="mdl-mini-footer__right-section">
        <a href="https://ca.linkedin.com/in/rajsimmanravichandiran" target="_blank">
          <i class="fa fa-linkedin margin-side" aria-hidden="true"></i>
        </a>
        <a href="https://github.com/rajsimmanravi" target="_blank">
          <i class="fa fa-github margin-side" aria-hidden="true"></i>
        </a>
        <a href="mailto:rajsimmanr@gmail.com">
          <i class="far fa-envelope" aria-hidden="true"></i>
        </a>
    </div>
</footer>
